ffmpeg-python
opencv-python
face_alignment
scikit-image==0.17.2
scikit-learn
scipy
pydub
pynormalize
soundfile
librosa
pysptk
pyworld
resemblyzer
visdom
pillow
dominate
# tensorflow-gpu==2.15.0
dlib
face_alignment